{# templates/program/season_show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
{% endblock %}


{% block body %}

    <div class="media">
        <h2>Série :
            {{program.title }}</h2>
        <h2>Saison :
            {{ season.number }}</h2>
        <p>Episode :
            {{ episode.title }}, Numéro
            {{ episode.number }}</p>
        <p>Descriptif épisode :
            {{ episode.synopsis }}</p>

    </div>
    <a href="{{ path('program_season_show', { "programId": program.id, "seasonId": season.id }) }}">
        Retour à la liste des épisodes
    </a>

{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
    {% if app.user and form is defined %}
        <div class="comments">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Ajouter un commentaire') }}</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endif %}

    {% if episode.comments is not null %}
        <h1>Liste des commentaires : </h1>
    {% endif %}
    {% for comment in episode.comments %}
        <div class="all-comments">
            <p>Commentaire {{comment.id}} : {{comment.comment}}</p>
            <p>Rate : {{comment.rate}}</p>
            {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                <form method="post" action="{{ path('program_comment_delete', {'commentId': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this comment?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    <button class="btn">Supprimer</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

