<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--favicon-->
         <link rel="icon" href="{{asset('build/images/logo.png')}}" type="image/gif" sizes="16x16"> 

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/build/app.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
    <header>
        {% include '_header.html.twig' %}
    </header>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        <script src="/build/app.js"></script>
        <script src="/watchlist.js"></script>
    </body>
</html>
